# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: check-summary-math-pipes
        name: check-summary-math-pipes
        entry: python3 scripts/check_math_pipes.py --fix
        language: system
        files: ^_summaries/.*\.md$
      - id: ensure-double-dollar-math
        name: ensure-double-dollar-math
        entry: python3 scripts/ensure_double_dollar_math.py --fix
        language: system
        files: \.md$
